---
layout: default
---

{% include site-header.html %}

<main class="main  container index">

  <article class="article  article--page  content  typeset">

    {{ content }}
    <!-- <hr class="MuiDivider-root MuiDivider-fullWidth css-3udx1k">
    <h4>최신 Post를 살펴보세요</h4>
    <hr class="MuiDivider-root MuiDivider-fullWidth css-3udx1k"> -->

    <!-- {% include post-categories.html %} -->

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
